<div class="mx-n3">
    <div class="d-flex text-center bg-primary px-3 py-2 text-white">        
        <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
        <h4 class="w-100">Categories</h4>
        <%= link_to "Add", new_category_path, class:"d-flex align-items-center ml-auto text-white" %>
    </div>
    <% if @categories.length.zero? %>
        <div class="text-center py-3">There are no current categories</div>
    <% end %>
    <% unless @categories.nil? %>
        <div class="px-3 mt-3 mb-5 pb-5">
            <ul class="list-group">
                <% @categories.each do |cat| %>
                    <li class="list-group-item px-3 mb-3 border-0">
                        <div class="d-flex align-items-center">
                            <%= link_to category_transactions_path category_id: cat.id do %>
                                <div class="icon-wrapper">
                                    <img src="<%= cat.icon %>" alt="money" />
                                </div>
                            <% end %>
                            <div class="w-100 text-muted pl-2">
                                <%= link_to category_transactions_path category_id: cat.id do %>
                                    <div class="d-flex text-muted mt-0">
                                        <span class="mb-0"><%= cat.name %></span>
                                        <% unless cat.name.nil? %>
                                            <span class="ml-auto text-dark"><b><%= cat.amount || '-' %></b></span>
                                        <% end %>
                                    </div>
                                <% end %>
                                <div>
                                    <hr class="m-1 mx-n2" />
                                    <div class="d-flex align-items-center mt-0 text-muted">
                                        <small class="text-muted"><%= Date.parse(cat.created_at.to_s).strftime('%a, %b %Y') %></small>
                                        <%= link_to edit_category_path(id: cat.id), class:"btn text-info" do %>
                                            <span><i class="fa fa-edit"></i>
                                        <% end %>
                                        <%= button_to category_path(id: cat.id), method: :delete, class:"btn text-danger" do %>
                                            <span><i class="fa fa-trash"></i>
                                        <% end %>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                <% end %>
            </ul>
        </div>
    <% end %>
    <%= render 'shared/buttons/add_edit', submit_path: new_category_path, method: :get, button_text: 'ADD' %>
</div>
