<div class="mx-n3">
    <div class="d-flex align-items-center justify-content-between bg-primary px-3 py-2 text-white">
        <div><%= link_to categories_path, class: "text-white" do %> <i class="fa fa-arrow-left" aria-hidden="true"> <% end %></i></div><h4>Transactions</h4><div></div>
    </div>
    <div class="px-3 mt-3">
        <ul class="list-group">
            <li class="list-group-item px-3 mb-3 border-0">
                <%= render 'shared/category/category_item', category: @category %>
            </li>
        </ul>
    </div>

    <% unless @transactions.nil? %>
        <div class="px-3 mb-5 pb-5">
            <ul class="list-group">
                <% @transactions.each do |cat| %>
                    <li class="list-group-item d-flex align-items-center">
                        <div class="icon-wrapper">
                            
                        </div>
                        <div class="mr-auto">
                            <p class="pl-2 mb-0"><%= cat.name %></p>
                            <div class="d-flex mt-0">

                            </div>
                        </div>
                        <span><%= cat.amount %></span>
                    </li>
                <% end %>
            </ul>
        </div>
    <% end %>
    <%= render 'shared/buttons/add_edit', submit_path: new_category_transaction_path, method: :get, button_text: 'ADD' %>
</div>
